<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- ionic -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
    <!-- modules -->
    <script type="module">
        import { menuController } from "https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/index.esm.js";
        window.menuController = menuController;
        import { modalController } from 'https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/index.esm.js';
        window.modalController = modalController;
    </script>
    <!-- custom style -->
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <ion-app>
        <ion-menu side="start" content-id="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-avatar class="ion-padding hidden" slot="start">
                        <img id="userImg"/>
                    </ion-avatar>
                    <ion-title id="userName">Guest</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <div style="padding: 5px 8px 0px 8px;">
                    <ion-button id="logInOut" color="primary" expand="block"
                                onclick="logInOut($(this));">Login</ion-button>
                </div>

                <div id="invitations"></div>
            </ion-content>
        </ion-menu>

        <ion-tabs id="main-content" class="ion-page">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title class="ion-text-center">Votedo</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content id="page-home" class="ion-padding display">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12" size-sm="8" offset-sm="2">
                            <ion-searchbar oninput="onPublicSession($(this).val());"></ion-searchbar>
                            <ion-list id="publicSessionList"></ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-content>

            <ion-content id="page-create" class="ion-padding hidden">
                <form>
                    <ion-grid>
                        <ion-row>
                            <ion-col size-sm="6" offset-sm="3">
                                <ion-button id="sessionCreate" color="primary" expand="block"
                                            disabled="disabled" onclick="onCreateSession();">Create</ion-button>

                                <ion-item>
                                    <ion-label position="floating">Session Name</ion-label>
                                    <ion-input id="sessionName" type="text"></ion-input>
                                </ion-item>

                                <ion-item id="sessionNameWarning" class="hidden" lines="none">
                                    <ion-label color="danger">
                                        <small>Title must be between 3 and 25 characters long</small>
                                    </ion-label>
                                </ion-item>

                                <ion-item class="center" lines="none">
                                    <ion-checkbox id="sessionOpen" class="ion-margin-end"></ion-checkbox>
                                    <ion-label>Private</ion-label>
                                </ion-item>

                                <ion-list id="sessionFriendsList"></ion-list>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-content>

            <ion-content id="page-friends" class="ion-padding hidden">
                <div style="position: absolute; left: 90%; top: 5%; z-index: 1;">
                    <ion-fab-button onclick="createFriendModal();">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </div>

                <ion-grid>
                    <ion-row>
                        <ion-col size="12" size-sm="8" offset-sm="2">
                            <ion-list id="myFriendsList"></ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-content>

            <ion-content id="page-session" class="ion-padding hidden">
                <ion-title>wip: Session</ion-title>

                <div style="position: absolute; left: 90%; top: 5%; z-index: 1;">
                    <ion-fab-button onclick="createTrackModal();">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </div>

                <ion-grid>
                    <ion-row>
                        <ion-col size="12" size-sm="8" offset-sm="2">
                            <ion-list id="sessionTrackList"></ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-content>

            <ion-tab-bar slot="bottom">
                <ion-tab-button name="home" onclick="showMe($(this).attr('name'));">
                    <ion-label>Home</ion-label>
                    <ion-icon name="home-outline"></ion-icon>
                </ion-tab-button>

                <ion-tab-button name="create" onclick="implicitGrantFlow($(this).attr('name'));">
                    <ion-label>New Session</ion-label>
                    <ion-icon name="add-outline"></ion-icon>
                </ion-tab-button>

                <ion-tab-button name="friends" onclick="implicitGrantFlow($(this).attr('name'));">
                    <ion-label>Friends</ion-label>
                    <ion-icon name="person-outline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-app>

    <script src="app.js"></script>
</body>
</html>
